body{
    color: black;
    margin: 0;
    font-family: "GT-Walsheim_regular", sans-serif;
}

html, body{
    height: 100%;
}

section{
    background: lightgray;
    overflow: hidden;
}

.content-box-md{
    padding: 100px 0px;
}

.content-box-lg{
    padding: 120px 0 0 0;
}

#preloader{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status{
    background-image: url('/assets/images/preloader.gif');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

#home{
    background: none;
    height: 100%;
}

#home-content{
    display: table;
    width: 100%;
    height: 100%;
}

#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}

#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.overlay{
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
}

#home-heading h1{
    color: #fff;
    font-size: 10vw;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span{
    color: #f4c613;
    font-weight: 600;
}

#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover{
    color: #f4c613;
}

h1,h2{
    color: white;
}

#events{
    background-color: rgb(241, 245, 247);
}
.event{
    height: 90vh;
    margin: 50px 0;
    padding: 30px 30px;
    opacity: 0;
    overflow: scroll;
}

.event .event-name{
    margin-bottom: 20px;
}


.event p, .event h2, .event li{
    color: #082c4c;
}

.event h2{
    font-size: 6vw;
    font-weight: 800;
    line-height: 85%;
}


.event img{
    width: 100%;
}

.btn-hack{
    margin-bottom: 20px;
}

.btn-hack:hover{
    background-color: black;
}

.btn-wwcd:hover{
    background-color: black;
}

#e7{
    margin-bottom: 0;
}

#sponsors-list{
    padding: 45px 0 0 0;
}

.owl-nav{
    color: black;
    font-size: 20px;
}

#sponsors h1{
    color: black;
}

#sponsors-list .sponsor{
    padding: 0 10px;
    max-width: 250px;
    margin: 0 auto;
    line-height: 100px;
}

.sponsor img{
    display: inline-block !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
