body{
    color: white;
    margin: 0;
}

html, body{
    height: 100%;
}

.horizontal-heading{
    margin-bottom: 80px;
}

.horizontal-heading h5{
    font-size: 16px;
    color: #f4c613;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2{
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
    margin: 0px;
}

section{
    background: #212226;
    overflow: hidden;
}

.content-box-md{
    padding: 100px 0px;
}

.content-box-lg{
    padding: 120px 0;
}

#home{
    background: none;
    height: 100%;
}

#home-content{
    display: table;
    width: 100%;
    height: 100%;
}

#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}

#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.overlay{
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
}

#home-heading h1{
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span{
    color: #f4c613;
    font-weight: 600;
}

#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover{
    color: #f4c613;
}

h1,h2{
    color: white;
}


#brochure-pdf{
    min-width: 50%;
    width: auto;
    height: 600px;
    transform: translateX(50%);
}

#sponsors-list{
    padding: 45px 0 0 0;
}

.owl-nav{
    color: white;
    font-size: 20px;
}

#sponsors-list .sponsor{
    padding: 0 10px;
    max-width: 250px;
    margin: 0 auto;
    line-height: 100px;
}

.sponsor img{
    display: inline-block !important;
}
